daily-tasks-email.json
{
  "name": "n8n-with-fatima",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0c777b4a-375a-4d5b-9236-4424cbf73147",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dens_QDLTvwu6PnOqe4Ok0BqyNnNZ2BfPTuHExkXrDo",
          "mode": "list",
          "cachedResultName": "fatima Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dens_QDLTvwu6PnOqe4Ok0BqyNnNZ2BfPTuHExkXrDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dens_QDLTvwu6PnOqe4Ok0BqyNnNZ2BfPTuHExkXrDo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "07bea5e9-a640-4cea-b3ef-4d82ec66fd33",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X73RAsaje7jtoEhr",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "fatima210395@gmail.com",
        "subject": "your tasks",
        "emailType": "text",
        "message": "=here are ur tasks \n{{ $json.tasksText }}\nthamks ms salta",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "92b012a4-b088-4dd3-9f63-a33781ee1049",
      "name": "Send a message",
      "webhookId": "d82b3513-29a2-4c42-8284-78af1ae6612e",
      "credentials": {
        "gmailOAuth2": {
          "id": "JYhk060kc17ZY89p",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "tasks = []\n\nfor item in _items:\n    task = item[\"json\"].get(\"Task\")\n    if task:\n        tasks.append(task)\n\ntasks_text = '\\n'.join(tasks)\n\nreturn [{\"json\": {\"tasksText\": tasks_text}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "9b333fd4-5a0c-4d50-9218-f207181ce8e5",
      "name": "Code in Python"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "512c202c-1f55-4c50-b108-eddfc1509f3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a28f48001ecdbe178757268d07179d0974b749fa62ff0f53731dc94be0771613"
  },
  "id": "GuhxLllgcCUU23Js",
  "tags": []
}